.App {
  text-align: center;
  width: 50%;
  height: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table{
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  padding: 5px 5px;
  margin-top: 5px;
  margin-left: 5px;

}
.thead{

  background-color: aliceblue;
  margin: 10px;
}
.tbody{
  background-color: azure;
}

.tr{
  border-style: solid;
  border-color: black;
}

#firstName{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
#lastName{
  
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
  
}

#email{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 40px;
}

button{
  text-align: center;
  margin-left: 40px;

}
.forma{
  margin-top: 10px;
  background-color: aliceblue;
  border: solid;
  margin-left: 20px;
}